[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/home/wc_coupon_tgbot/
Environment="PYTHONPATH=/home/wc_coupon_tgbot/"
ExecStart=/home/wc_coupon_tgbot/env/bin/python /home/wc_coupon_tgbot/wc_coupon_tg_bot.py

[Install]
WantedBy=multi-user.target